{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
{% endblock header %}


{% block content %}
    <div class="container " style="height: 100vh; text-align: center">
        <div class="row h-100">
            <div class="col-md-12 align-self-center">
                <a href="{% url "social:begin" "facebook" %}">
                    <input type="button" class="btn btn-primary" value="Авторизоваться">
                </a>
            </div>
        </div>
    </div>
{% endblock content %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
