{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

{% csrf_token %}
<table id="tech-companies-1" class="table  table-striped">
    <thead>
        <tr>
            <th data-priority="0">Название</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in place_list %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>
                <div class="">
                    <a data-place_id="{{ obj.pk }}" class="place-update-link" href="#">
                        <i class="fa fa-edit" style="font-size:50px;color: black"></i>
                    </a>
                </div>
                <div class="">
                    <a data-place_id="{{ obj.pk }}" class="place-delete-link" href="#">
                        <i class="fa fa-trash" style="font-size:50px;color: black"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}


{% block modal %}
{% endblock modal %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'layer_front/js/places_list.js' %}" type="text/javascript"></script>
{% endblock js %}
