{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block css %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href={% static 'layer_front/css/bootstrap.css' %}>
        <link rel="stylesheet" href={% static 'layer_front/css/style.css' %}>
        {% endblock css %}

        <title>Remember Places Account</title>
    </head>

    <body>

        {% block body %}

        <!-- Navigation Bar-->
        <header>
        {% block header %}
            <nav class="navbar fixed-top navbar-light bg-light">
                <div>
                    Добро пожаловать, {{ request.user.first_name }} {{ request.user.last_name }}
                </div>
                <a class="navbar-brand" href="/logout/">
                    <input type="button" value="Выйти">
                </a>
            </nav>
        {% endblock header %}
        </header>
        <!-- End Navigation Bar-->

        {% block form_buttons_header %}
        {% endblock form_buttons_header %}

        {% block content %}
        {% endblock content %}

        {% endblock body %}

        {% block form_buttons_footer %}
        {% endblock form_buttons_footer %}

        {% block modal %}
        {% endblock modal %}

        <!-- Footer -->
        <footer>

        </footer>
        <!-- End Footer -->

        {% block js %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'layer_front/js/jquery.js' %}" ></script>
        <script src="{% static 'layer_front/js/popper.js' %}" ></script>
        <script src="{% static 'layer_front/js/bootstrap.js' %}" ></script>

        <!-- App js -->
        <script src={% static "layer_front/js/base.js" %} ></script>
        {% endblock js %}

    </body>
</html>
